@charset "UTF-8";

body {
    background: rgb(255, 255, 225);
}

main {
    margin: 0 auto;
    width: 1024px;
    line-height: 2;
}

@media screen and (max-width:1024px){
    main{
        width: 100%;
        /*margin: 0 auto;*/
    }
}

@media screen and (max-width:750px){
    main{
        width: 100%;
        /*margin: 0 auto;*/
    }
}

header {
    width: auto;
    background: #fff68e;
    line-height: 120px;
}

h1 {
    color: #ff9d00;
    font-size: 50px;
    text-align: center;
    height: 145px;
    line-height: 145px;
    font-family: sans-serif;
}

@media screen and (max-width:1024px){
    h1{
        font-size: 40px;
        height: 90px;
        line-height: 90px;
        width: 100%;
    }
}


@media screen and (max-width:750px){
    h1{
        font-size: 30px;
        height: 90px;
        line-height: 90px;
        width: 100%;
    }
}


nav {
    background: #ff9d00;
    padding: 6px 0px;
}

@media screen and (max-width:1024px){
    nav{
        padding: 6px 40px;
        background: #ff9d00;
    }
}

@media screen and (max-width:750px){
    nav{
        padding: 6px 30px;
        background: #ff9d00;
    }
}


nav ul {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;
}

@media screen and (max-width:1024px){
    nav ul {
        width: 100%;
    }
}

@media screen and (max-width:750px){
    nav ul {
        width: 100%;
    }
}

nav ul li {
    width: 220px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    border-left: solid 1px #fff68e;
}

nav ul li:last-child {
    border-right: solid 1px #fff68e;
}

@media screen and (max-width:1024px){
    nav ul li {
        width: 100%;
        font-size: 20px;
        height: 35px;
        line-height: 32px;
}
}

@media screen and (max-width:750px){
    nav ul li {
        width: 100%;
        font-size: 14px;
        height: 22px;
        line-height: 22px;
}
}

nav a:link {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
    text-decoration: none;
}

@media screen and (min-width:1024px){
    nav a:link {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
}

nav ul li a {
    width: 100%;
    height: 100%;
    display: block;
}

.sectionbox {
    font-size: 45px;
    /*border: solid black;*/
    /*text-align: center;*/
    color: #ff9d00;
    margin-top: 35px;
    /*font-weight: normal;*/
}


@media screen and (max-width:1024px){
    .sectionbox {
        font-size: 40px;
    }
}

@media screen and (max-width:750px){
    .sectionbox {
        font-size: 35px;
    }
}

.main-p {
    margin: 45px 0px 0px 0px;
    text-align: center;
   
}

@media screen and (max-width:1024px){
  .main-p {
      margin: 30px 40px 0px;
}
}

@media screen and (max-width:750px){
  .main-p {
      margin: 30px 30px 0px;
}
}

.top-p-gg {
     width: 100%;
}

.top-p-g,.top-p-gg,.top-p-ggg {
    box-shadow: 1px 1px 9px black;
}

@media screen and (max-width:1024px){
  .top-p-gg {
      width: 100%;
}
}

@media screen and (max-width:750px){
  .top-p-gg {
      width: 100%;
}
}

@media screen and (max-width:1024px){
    .overviewsection {
    margin: 0 40px;
}
}

@media screen and (max-width:750px){
    .overviewsection {
    margin: 0 30px;
}
}

.overview {
    font-size: 20px;
}

@media screen and (max-width:1024px){
    .overview {
        width: 100%;
        font-size: 17px;
}
}

@media screen and (max-width:750px){
    .overview {
        width: 100%;
        font-size: 15px;
}
}

@media screen and (max-width:1024px){
    .imagesection {
        margin: 0px 40px;
    }
}

@media screen and (max-width:750px){
    .imagesection {
        margin: 0px 30px;
    }
}

.sub-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
    list-style: none;
}

@media screen and (max-width:1024px){
    .sub_item {
        /*padding-right: 25px;*/
        width: 30%;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    .sub_item:last-child {
        margin-right: 0px;
    }
}

@media screen and (max-width:750px){
    .sub_item {
        /*padding-right: 25px;*/
        width: 45%;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    .sub_item:last-child {
        margin-right: 0px;
    }
}

@media screen and (max-width:1024px){
    .top-p-g {
        width: 100%;
    }
}

@media screen and (max-width:750px){
    .top-p-g {
        width: 100%;
    }
}

.sub-pp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

@media screen and (max-width:1024px){
    .pp_item {
        /*margin-right: 25px;*/
        width: 45%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    .pp_item:last-child {
        margin-right: 0px;
    }
}

@media screen and (max-width:750px){
    .pp_item {
        /*margin-right: 25px;*/
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    .pp_item:last-child {
        margin-right: 0px;
    }
}

@media screen and (max-width:1024px){
    .top-p-ggg {
        width: 100%;
    }
}

@media screen and (max-width:750px){
    .top-p-ggg {
        width: 100%;
    }
}

footer {
    border-top: 2px dotted black;
    margin-top: 30px;
    padding: 20px;
    font-size: 20px;
}

@media screen and (max-width:1024px){
    .copy {
        font-size: 17px;
    }
}

@media screen and (max-width:750px){
    .copy {
        font-size: 15px;
    }
}

.foo {
    margin-bottom: 15px;
    list-style: none;
    display: flex;
}

.i {
    margin-right: 7px;
}

/*.top-p-g:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
}*/
